.container {
    width: 960px;
    min-height: 400px;
    margin: 0 auto;
    border: 3px dashed orange;
}

li {
    /* display: inline; */      /* width, height 적용 X */
    display: inline-block;      /* width, height 적용 O */
    border:1px solid #000;
    width: 150px;
    height: 50px;
    line-height: 50px;
    padding: 10px 20px;
    text-align: center;
}

li:hover {
    background-color: #ddd;
    cursor: pointer;
}

/* 화면에 보이지 않게 지정 */
.none { display : none; }
.hidden { visibility : hidden; }    /* 기능은없지만 자리차지 */
.transparent { opacity: 0;}         /* 보이진않지만 기능있음 불투명도 0 */

/* Grid 레이아웃 */
.grid-container {
    display : grid;
    /* 
        grid-template-columns
        - Grid 레이아웃의 열의 크기를 지정하는 속성
        (여기서는 3개의 열 크기를 auto 지정)
    */
    grid-template-columns: auto auto auto;
    background-color: royalblue;
    padding: 10px;
}

.grid-container .item {
    background-color: lightblue;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
}

/* Flex 레이아웃 */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 100px;
    column-gap: 50px;
}
.flex-container .item {
    /* width: calc(100% / 4); */
    width: 200px;
}

.item img {
    width: 100%;
}