* { margin: 0; padding: 0; box-sizing: border-box; }
.container {
    width: 1200px;
    margin: 0 auto;
    border: 3px dashed orange;
}

ul { list-style-type: none; padding: 0;}
a { text-decoration: none; color: black; }

.main-menu {
    display: flex;
    flex-direction: column;
}

.menu-item {
    width: 120px;
    /* height: 50px; */
    line-height: 50px;
    text-align: center;
    border: 1px solid black;
    background-color: white;
    position: relative;
}
.menu-item a {
    display: inline-block; width: 100%; height: 100%;
}
.menu-item:hover { 
    background-color: cornflowerblue; 
}
.menu-item:hover > a {
    color: white;
}
/* .menu-item:hover .submenu { 
    max-height: 200px;
    opacity: 1;
} */

.submenu { 
    max-height: 0;
    opacity: 0;
    transition: all 0.5s;
    overflow: hidden;
    /* position: absolute; */
    /* top: 100%; */
    /* left: -1px; */
}

.submenu.active {
    max-height: 200px;
    opacity: 1;
}

.submenu .menu-item {
    background-color: beige;
}