h1 { text-align: center;}

.container {
    position: relative;
    width: 1200px;
    height: 3000px;
    border: 5px dashed orange;
    margin: auto;
}

.container div {
    margin: auto;
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    text-align: center;
    font-size: 48px;
    line-height: 200px;
    border-radius: 10%;
}
/* position : sticky */
.container .sticky {
    position: sticky;
    border: 3px solid black;
}
.container .base {
    position: absolute;
    border: 1px dashed #ddd;
    color: #ddd;
    z-index: -1;
}

/* sticky */
/* 
    스크롤 가능한 영역 안 : relative
    스크롤 가능한 영역 밖 : fixed
*/
.first {top: 100px; float: left;}
.second {top: 100px; float: left;}
.third {top: 100px; float: right;}
.fourth {top: 100px; float: right;}


/* base */
.fifth { top: 0; left: 500px;}
.sixth {top: 200px; left: 500px;}
.seventh {top: 400px; left: 500px;}
.eighth { top: 600px; left: 500px;}

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: cornflowerblue;
    color: white;
    font-size: 40px;
    text-align: center;
    line-height: 80px;
}
.box {
    width: 1200px !important;
    height: 300px !important;
    margin-top: 80px;
    border-radius: 0 !important;
    background-color: royalblue;
}