.container {
    width: 700px;
    margin: 0 auto;
    border: 1px solid orange;
}

.tab-box {
    width: 600px;
    margin: 50px auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

/* 라디오 버튼 숨김 */
[type="radio"] {display: none;}

/* 탭 버튼(label) */
.tab-item {
    display: inline-block;
    width: calc(100% / 3);
    height: 50px;
    line-height: 50px;
    float: left;
    text-align: center;
    background-color: #f8f8f8;
    font-weight: bold;
    border-bottom: 1px solid #333;
    user-select: none;      /* 텍스트 드래그 효과 없앰 */
    cursor: pointer; 
}

.tab-box input:checked + label,
.tab-item:hover {
    background-color: gray;
    color: white;
}

/* 탭 내용 */
.tab-content {
    display: none;
    padding: 40px;
    text-align: center;
    overflow: hidden;
    clear: both;
}

/* 
    tab1 (label 1번) 선택
    -> 연결된 radio 버튼 선택 (:cehcked)
    -> 형제자매요소인, 1번 내용을 출력
    */

#tab1:checked ~ #tab-content1,
#tab2:checked ~ #tab-content2,
#tab3:checked ~ #tab-content3 {
    display: inherit;
}